
name: Bank Frontend Pipeline

on:
  push:
    branches:
      - main

jobs:
  Continues-Integration_build_and_push:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: us-east-1
      ECR_REPO: 570071717271.dkr.ecr.us-east-1.amazonaws.com

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Log in to awscli
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Build container image
      run: sudo docker build -t bank-app-frontend:latest .

    - name: Log in to ECR with short-lived credentials
      run: |
        aws ecr get-login-password --region us-east-1 |sudo docker login --username AWS --password-stdin ${{ env.ECR_REPO }}
  
    - name: Tag Docker image
      run: sudo docker tag bank-app-frontend:latest ${{ env.ECR_REPO }}/bank-frontend:${{ github.run_number }}
    
    - name: Push image to ECR
      run: sudo docker push ${{ env.ECR_REPO }}/bank-frontend:${{ github.run_number }}

    - name: Clean up Docker image locally
      run: |
        sudo docker rmi bank-app-frontend:latest
        sudo docker rmi ${{ env.ECR_REPO }}/bank-frontend:${{ github.run_number }}

  Continues-Update_k8s_manifest:
    runs-on: ubuntu-latest
    needs: Continues-Integration_build_and_push
    permissions:
      contents: write  # needed to push
    steps:
      - name: Checkout manifest repo
        uses: actions/checkout@v4
        with:
          repository: chiamaka99346/Bank-Manifest
          token: ${{ secrets.MANIFEST_PAT }}  # PAT with repo scope
          path: Bank-Manifest

      - name: Update image tag
        working-directory: Bank-Manifest
        run: |
          git config user.email "chiamaka99346@github.com"
          git config user.name "chiamaka99346"
          sed -i "s+570071717271.dkr.ecr.us-east-1.amazonaws.com/bank-frontend:.*+570071717271.dkr.ecr.us-east-1.amazonaws.com/bank-frontend:${{ github.run_number }}+g" ./bank-project/frontend.yaml
          git add bank-project/frontend.yaml
          git commit -m "Update frontend image to version ${{ github.run_number }}" || echo "No changes"
          git push origin main

